@import url('https://fonts.googleapis.com/css?family=Asset');

body{font-size: 20px;}

@media (min-width: 768px) {
    body{font-size: 24px;}
}

@media (min-width: 1000px) {
    body{font-size: 30px;}
}

h2{
	font-size: 0.875em;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

#titleback{
	background-color: rgb(64,40,100);
	padding: 2px;
}

#title{
	font-family: 'Asset';
	font-weight: 900;
	color: white;
	font-size: 1.4em;
	    /* Rotate div */
    	-ms-transform: rotate(-2deg); /* IE 9 */
    	-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    	transform: rotate(-2deg);
}

.color{
	background-color: yellow;
}


/*
These are fonts I've been working with
@import url('https://fonts.googleapis.com/css?family=Lust');
*/
